developmentMode: true
token: ''
ownerIDs: 
  - ''
  - ''

keys:
  sentry: ''
  weather: ''

postgresOptions:
  user: ''
  host: ''
  database: ''
  password: ''
  port: 
  
lavalinkNodes:
  node_1:
    name: ''
    host: ''
    port: 
    auth: ''