{
  "token": "",
  "devtoken": "",
  "ownerIDs": [],
  "devmode": false,
  "keys": {
    "topgg": "",
    "sentry": ""
  },
  "pgCredentials": {
    "user": "",
    "host": "",
    "database": "",
    "password": "",
    "port":  
  },
  "lavalinkNodes": [
    {
      "name": "",
      "host": "",
      "port": ,
      "auth": ""
    }
  ],
  "emoji": {
    "success": "",
    "error": "",
    "denied": "",
    "wait": "",
    "warning": ""
  },
  "defaultUserData": {
    "blacklisted": false,
    "prefix": "w!",
    "experience": 0,
    "seashells": 0,
    "relationships": [],
    "pronouns": null,
    "colour": "#9d10e1"
  },
  "defaultMemberData": {
    "blacklisted": false,
    "experience": 0
  },
  "defaultGuildData": {
    "prefix": "w!",
    "mutedRole": null,
    "autorole": null,
    "welcomeChannel": null,
    "welcomeMessage": "Hey there [[user]], and welcome to [[server]]!",
    "leaveChannel": null,
    "leaveMessage": "[[user]] has left [[server]]... bye [[user]] 👋",
    "chatlogsChannel": null,
    "modlogsChannel": null,
    "starboardChannel": null
  }
}